.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #623baa;
  background-color: #20212c;
  border-radius: 12px;
  color: #ffffff;
}
.todo-item {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 16px;
  width: 100%;
}
.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo + .todo {
  margin-top: 20px;
}
.todo-item__check,
.todo-item__close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #ad6dde;
  border: 1px solid transparent;
  padding: 4px;
  border-left: 1px solid #ad6dde;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}
.todo-item__close {
}

.todo-item__check img {
 
}


@media screen  and (max-width: 769px){
  
  
}