header {
  width: 100%;
  background-color: #20212c;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  
}

.menu__item {
  display: flex;
  
}

.menu__item--left {
  flex: 0 0 50%;
}

.menu__item--right {
  flex: 0 0 50%;
  justify-content: flex-end;
}

.menu__item__img {
  max-width: 40px;
  height: auto;
  border-radius: 100%;
  
}

.menu__item__button {
  
}

.menu__item__img + .menu__item__button {
  margin-left: 20px;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

